.App {
  justify-content: space-around;
}

.title {
  text-align: center;
  font-size: 100px;
  padding-bottom: 30px;
}

.fridge {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}