* {
  /* background-color: #6593A6; */
  justify-content: space-around;
}

.title {
  text-align: center;
  font-size: 100px;
  padding-bottom: 40px;
  cursor: pointer;
  color: gray;
}

.freezer {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: auto;
  height: 40vh;
  cursor: pointer;
}

.fridge {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: auto;
  height: 50vh;
  cursor: pointer;
}


.pantry {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  padding: auto;
  height: 70vh;
  cursor: pointer;
}