.navigation {
  font-size: 20px;
  text-align: right;
  padding-right: 5px;
}

.hello {
  position: absolute;
  font-size: 20px;;
}

.list-icon {
  margin-top: 5px;
  height: 5vh;
  width: 3vw;
}

.shopping-list {
  position: absolute;
  width: max-content;
  left: 37%;
  top: 600%;
  padding: 15px;
}

.title {
  text-align: center;
  font-size: 100px;
  cursor: pointer;
  color: gray;
}

.freezer {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: auto;
  height: 50vh;
  cursor: pointer;
}

.fridge {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: auto;
  height: 50vh;
  cursor: pointer;
}

.pantry {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  padding: auto;
  height: 50vh;
  cursor: pointer;
}

.paper {
  height: 600px;
  position: absolute;
  top: -500%;
  left: 29%;
  z-index: -10;
}