.product-card {
    width: 300px;
    min-width: 300px;
    height: auto;
    border-radius: 20px;
    margin: 10px;
    min-height: 356px;
    transition: all .25s ease;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
    cursor: pointer;
    border: 2px solid green;
    text-align: center;
}

.product-png {
    height: auto;
    width: 250px;
}