.category {
    padding: 5px;
}

.display-products {
    margin: 0;
    padding: 0 0 0 25px;
}

.product-form {
    text-align: center;
    padding-bottom: 10px;
}

.product-container {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: flex-start;
}

.product-card {
    border: 2px solid #BFC9D1;
    position: relative;
    transition: transform 0.6s;
    margin: 15px;
    width: 310px;
    background-color: white;
}

.product-png {
    height: 120px;
    display:list-item;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

h2 {
    font-size: 18px;
    padding-left: 10px;
}

p {
    font-size: 16px;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: 300;
}

.last-btn {
    padding-bottom: 10px;
}

.paper-popper {
    border: 1px solid transparent;
    padding: 3px;
    background-color: #567895;
    color: white;
}
