.product-container {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: flex-start;
}

.product-card {
    border: 2px solid;
    position: relative;
    border-radius: 20px;
    transition: transform 0.6s;
    margin: 5px;
    text-align: center;
    width: 300px;
}

.product-png {
    height: 350px;
    width: 260px;
}

.add-grocery-list {
    border-radius: 10px;
    background: green;
}